html, body {
  height: 100%;
  width: 100%;
  background: #0E1927;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  overflow: hidden;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label{
  display:block;
  padding-bottom:2px;
  color: #999;
  font-size: 12px;
}
.input-with-label input{
  margin-bottom: 10px;
}
.frame-comment{
  background: rgba(0,0,0,0.1) !important;
  border: 3px solid rgba(255,255,255,0.1) !important;
}
.footer{
  display: flex;
  flex-direction: row;
}
.github-corner{
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
}
.context-menu .item{
  padding: 10px 20px !important;
  /*background: #0E1927 !important;*/
}
.node .control input, .node .input-control input {
  width: 140px;
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: rgba(255,255,255,0.1);
  color: #fff;
}
.footer .menu{
  background: #202A40;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
#inspector{
  max-width: 90%;
  width: 550px;
}
.btn{
  padding: 10px;
  background: #0E1927;
  border-radius: 5px;
  margin: 5px 10px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.footer .menu .title{
  text-align: center;
  background: rgba(0,0,0,0.15);
  padding: 5px 20px;
  font-size:  16px;
  font-weight: bold;
}
.footer .menu textarea{
  background: rgba(0,0,0,0.15);
  border: 1px solid transparent;
  margin: 10px;
  border-radius: 5px;
  color: #aeaeae;
  height: 130px;
}

select, input {
  width: 100%;
  border-radius: 30px;
  background-color: white;
  padding: 2px 6px;
  border: 1px solid #999;
  font-size: 110%;
  width: 170px;
}

#dock{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 100px;
}

#network{
  background: rgba(255,255,255,0.5);
  color: #000;
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  padding: 5px;
}

.preview::-webkit-scrollbar {
  height: 10px;
}
.preview::-webkit-scrollbar-track {
  background: transparent;
}
.preview::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 3px;
}
.preview::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.5);
}

.preview{
  height: 35px;
  max-width: 150px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  opacity: 0.7;
  /*background: rgba(0,0,0,0.2);*/
  /*padding: 3px;*/
}
/*.node.threshold .preview,
.node.and .preview,
.node.or .preview{
  height: 120px;
  word-break: break-all;
  overflow-y: scroll;
}
*/
.editor .socket.output.policy,
.editor .socket.input.policy{
  background: #4A90E2;
  border: 2px solid #4A90E2;
}

.editor .socket.output.key,
.editor .socket.input.key{
  background: #FF9A00;
  border: 2px solid #FF9A00;
}

.editor .socket.output.descriptor,
.editor .socket.input.descriptor{
  background: #BD10E0;
  border: 2px solid #BD10E0;
}

.editor .socket.output.policy:hover,
.editor .socket.input.policy:hover,
.editor .socket.output.descriptor:hover,
.editor .socket.input.descriptor:hover,
.editor .socket.output.key:hover,
.editor .socket.input.key:hover{
  border: 2px solid rgba(255,255,255,0.5);
}

.editor .node .title{
  background: rgba(0,0,0,0.15);
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  text-align: center;
  font-size: 16px !important;
  margin-bottom: 10px;
}

.editor .node,
.editor .node,
.editor .node:hover,
.editor .node:hover,
.editor .node.selected,
.editor .node.selected,
.editor .node.selected:hover,
.editor .node.selected:hover {
  background-color: #202A40 !important;
  border: 1px transparent !important;
}

.editor .node.number:hover,
.editor .node.add:hover {
  box-shadow: 0px 0px 2px #4A90E2;
}

.editor .node.selected,
.editor .node.selected,
.editor .node.selected:hover,
.editor .node.selected:hover {
  box-shadow: 0px 0px 5px #4A90E2 !important;
  /*border: 1px #4A90E2 !important;*/
}


/*.node .title,
.node .output-title,
.node .input-title {
  color: black !important;
}*/