html, body {
  height: 100%;
  width: 100%;
  background: #0E1927;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  overflow: hidden;
}
.context-menu .item{
  padding: 10px 20px !important;
  /*background: #0E1927 !important;*/
}
.node .control input, .node .input-control input {
  width: 140px;
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: rgba(255,255,255,0.1);
  color: #fff;
}

select, input {
  width: 100%;
  border-radius: 30px;
  background-color: white;
  padding: 2px 6px;
  border: 1px solid #999;
  font-size: 110%;
  width: 170px;
}

.preview::-webkit-scrollbar {
  height: 10px;
}
.preview::-webkit-scrollbar-track {
  background: transparent;
}
.preview::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 3px;
}
.preview::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.5);
}

.preview{
  height: 35px;
  max-width: 170px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  opacity: 0.7;
  /*background: rgba(0,0,0,0.2);*/
  /*padding: 3px;*/
}
/*.node.threshold .preview,
.node.and .preview,
.node.or .preview{
  height: 120px;
  word-break: break-all;
  overflow-y: scroll;
}
*/
.editor .socket.output.policy,
.editor .socket.input.policy{
  /*width: 15px;*/
  /*height: 15px;*/
  background: #4A90E2;
  border: 2px solid #4A90E2;
}
/*.editor .socket.output.policy{
  margin-right: -7px;
}
.editor .socket.input.policy{
  margin-left: -7px;
}
*/
.editor .socket.output.policy:hover{
  border: 2px solid rgba(255,255,255,0.5);
}

.editor .node .title{
  background: rgba(0,0,0,0.15);
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  text-align: center;
  font-size: 16px !important;
  margin-bottom: 10px;
}

.editor .node,
.editor .node,
.editor .node:hover,
.editor .node:hover,
.editor .node.selected,
.editor .node.selected,
.editor .node.selected:hover,
.editor .node.selected:hover {
  background-color: #202A40 !important;
  border: 1px transparent !important;
}

.editor .node.number:hover,
.editor .node.add:hover {
  box-shadow: 0px 0px 2px #4A90E2;
}

.editor .node.selected.number,
.editor .node.selected.add,
.editor .node.selected.number:hover,
.editor .node.selected.add:hover {
  /*box-shadow: 0px 0px 3px #4A90E2;*/
}


/*.node .title,
.node .output-title,
.node .input-title {
  color: black !important;
}*/